In [ ]:
from google.colab import drive
drive.mount("/content/drive")

In [ ]:
%pwd

In [ ]:
%cd /content/drive/MyDrive/

In [ ]:
%cd Colab Notebooks/10xac

In [ ]:
%ls

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv("Economic_Twitter_Data.csv")

In [4]:
df.head(5)

,created_at,source,original_text,polarity,subjectivity,lang,favorite_count,retweet_count,original_author,followers_count,friends_count,sensetivity,hashtags,user_mentions,place
0,Fri Apr 22 22:20:18 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",Empty,-0.1,0.5,de,2356,355,McMc74078966,3,12,NaN,[],nikitheblogger,NaN
1,Fri Apr 22 22:19:16 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",Empty,-0.1,0.5,de,1985,505,McMc74078966,3,12,NaN,[],sagt_mit,NaN
2,Fri Apr 22 22:17:28 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",Empty,-0.1,0.5,de,16,4,McMc74078966,3,12,NaN,[],"Kryptonoun, WRi007",NaN
3,Fri Apr 22 22:17:20 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",Empty,-0.1,0.5,de,1242,332,McMc74078966,3,12,NaN,"[{'text': 'Deutschen', 'indices': [16, 26]}, {...",WRi007,NaN
4,Fri Apr 22 22:13:15 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",Empty,-0.1,0.5,de,1329,386,McMc74078966,3,12,NaN,[],RolandTichy,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24625 entries, 0 to 24624
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   created_at       24625 non-null  object
 1   source           24625 non-null  object
 2   original_text    24625 non-null  object
 3   polarity         24625 non-null  float64
 4   subjectivity     24625 non-null  float64
 5   lang             24625 non-null  object
 6   favorite_count   24625 non-null  int64
 7   retweet_count    24625 non-null  int64
 8   original_author  24625 non-null  object
 9   followers_count  24625 non-null  int64
 10  friends_count    24625 non-null  int64
 11  sensetivity      9975 non-null   object
 12  hashtags         24625 non-null  object
 13  user_mentions    18077 non-null  object
 14  place            15731 non-null  object
dtypes: float64(2), int64(4), object(9)
memory usage: 2.8+ MB

In [6]:
df.describe()

,polarity,subjectivity,favorite_count,retweet_count,followers_count,friends_count
count,2.462500e+04,24625.0,2.462500e+04,24625.000000,2.462500e+04,24625.000000
mean,-1.000000e-01,0.5,2.595941e+03,538.587168,1.025754e+05,1299.831878
std,1.387807e-17,0.0,2.903256e+04,6045.417765,1.013419e+06,2939.129745
min,-1.000000e-01,0.5,0.000000e+00,0.000000,0.000000e+00,0.000000
25%,-1.000000e-01,0.5,0.000000e+00,0.000000,1.130000e+02,111.000000
50%,-1.000000e-01,0.5,1.000000e+00,1.000000,4.910000e+02,413.000000
75%,-1.000000e-01,0.5,1.150000e+02,37.000000,1.935000e+03,1336.000000
max,-1.000000e-01,0.5,1.339072e+06,434379.000000,1.695995e+07,41866.000000

In [7]:
df.isnull().sum()

created_at             0
source                 0
original_text          0
polarity               0
subjectivity           0
lang                   0
favorite_count         0
retweet_count          0
original_author        0
followers_count        0
friends_count          0
sensetivity        14650
hashtags               0
user_mentions       6548
place               8894
dtype: int64

In [8]:
df.isnull().sum().sum()

30092

In [9]:
df.isna()

,created_at,source,original_text,polarity,subjectivity,lang,favorite_count,retweet_count,original_author,followers_count,friends_count,sensetivity,hashtags,user_mentions,place
0,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True
3,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True
4,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24620,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True
24621,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True
24622,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True
24623,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True
24624,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True

In [10]:
df.shape

(24625, 15)

In [11]:
 df.drop_duplicates(inplace=True)

In [12]:
df.shape

(24574, 15)

In [13]:
df['created_at'] = pd.to_datetime(df['created_at'])

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24574 entries, 0 to 24624
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   created_at       24574 non-null  datetime64[ns, UTC]
 1   source           24574 non-null  object
 2   original_text    24574 non-null  object
 3   polarity         24574 non-null  float64
 4   subjectivity     24574 non-null  float64
 5   lang             24574 non-null  object
 6   favorite_count   24574 non-null  int64
 7   retweet_count    24574 non-null  int64
 8   original_author  24574 non-null  object
 9   followers_count  24574 non-null  int64
 10  friends_count    24574 non-null  int64
 11  sensetivity      9964 non-null   object
 12  hashtags         24574 non-null  object
 13  user_mentions    18063 non-null  object
 14  place            15700 non-null  object
dtypes: datetime64[ns, UTC](1), float64(2), int64(4), object(8)
memory usage: 3.0+ MB

In [15]:
df["polarity"] = pd.to_numeric(df["polarity"])
df["subjectivity"] = pd.to_numeric(df["subjectivity"])
df["retweet_count"] = pd.to_numeric(df["retweet_count"])
df["favorite_count"] = pd.to_numeric(df["favorite_count"])
df["friends_count "] = pd.to_numeric(df["friends_count"])

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24574 entries, 0 to 24624
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   created_at       24574 non-null  datetime64[ns, UTC]
 1   source           24574 non-null  object
 2   original_text    24574 non-null  object
 3   polarity         24574 non-null  float64
 4   subjectivity     24574 non-null  float64
 5   lang             24574 non-null  object
 6   favorite_count   24574 non-null  int64
 7   retweet_count    24574 non-null  int64
 8   original_author  24574 non-null  object
 9   followers_count  24574 non-null  int64
 10  friends_count    24574 non-null  int64
 11  sensetivity      9964 non-null   object
 12  hashtags         24574 non-null  object
 13  user_mentions    18063 non-null  object
 14  place            15700 non-null  object
 15  friends_count    24574 non-null  int64
dtypes: datetime64[ns, UTC](1), float64(2), int64(5), object(8)
memory usage: 3.2+ MB

In [ ]:
df["clean_text"] = df["original_text"].str.replace("[^a-zA-Z#@\s]", "")
tweet_df["clean_text"] = df["clean_text"].str.replace("\n", "\s")
tweet_df[["original_text", "clean_text"]]